<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header'); -%>

    <body>

        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/dashboard-bg.webp')">
            
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container">
              <h1>Welcom to home Page</h1>
            </div>
        </main>

        <%- include('layouts/footer'); -%>

        <%- include('layouts/scripts'); -%>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
