<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header'); -%>

    <body>

        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/signUp-bg.png')">
            
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container">
                <h2>Login Page</h2>
                <form id="signUpForm" action="/user/signUp" method="post">
                    <div class="form-group">
                        <label for="Username">User Name:</label>
                        <input type="text" class="form-control" id="Username" placeholder="Enter user name" name="Username" required>
                        
                        <br>

                        <label for="Password">Password:</label>
                        <input type="password" class="form-control" id="Password" placeholder="Enter password" name="Password" required>

                        <br>

                        <label for="Password2">Confirm Password:</label>
                        <input type="password" class="form-control" id="Password2" placeholder="Enter password" name="Password2" required>

                        <br>

                        <label for="UserType">UserType:</label>
                        <select id="UserType" name="UserType">
                            <option value="Driver">Driver</option>
                            <option value="Examiner">Examiner</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <br>
                    <button id="signUpBtn" type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </main>

        <%- include('layouts/footer'); -%>

        <%- include('layouts/scripts'); -%>
    </body>
</html>
